/*=============== Google Fonts ===============*/
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap");

/*=============== Css Variables ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  
  --independence: hsl(245, 17%, 27%);
  --majorelle-blue: hsl(245, 67%, 59%);
  --ghost-white-1: hsl(240, 100%, 99%);
  --cultured-1: hsl(0, 0%, 98%);
  --cultured-2: hsl(280, 14%, 96%);
  --cultured-3: hsl(280, 9%, 94%);
  --white: hsl(0, 0%, 100%);
  --title-color: #4a4a4a;
  --text-color: #555;
  --text-color-alt: #999;
  --bg-color: #fff;
  --bg-color-alt: #e9ecef;
  --border-color: #f1f1f1;

  /*========== transitions ==========*/
  --transition: 0.25s ease;
  --transition-2: 0.5s ease;

  /*========== spacing ==========*/
  --section-padding: 80px;

  /*========== border radius ==========*/
  --radius-6: 6px;
  --radius-10: 10px;

  /*========== box shadow ==========*/
  --shadow-1: 0px 0px 20px var(--black_10);
  --shadow-2: 0 0 20px 4px var(--black_5);

  /*========== Font and typography ==========*/
  --roboto-font: "Roboto", sans-serif;
  --mono-font: "Roboto Mono", monospace;

  --fs-h1: 2.75rem;
  --fs-h2: 2.25rem;
  --fs-lg: 1.125rem;
  --fs-base: 1rem;
  --fs-sm: 0.875rem;
  --fs-xs: 0.75rem;

  --fs-1: 36px;
  --fs-2: 28px;
  --fs-3: 20px;
  --fs-4: 17px;
  --fs-5: 16px;
  --fs-6: 15px;
  --fs-7: 14px;

  /*========== Font Weight ==========*/
  --medium: 500;
  --semibold: 600;
  --bold: 700;
}

/*=============== Base ===============*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: var(--roboto-font);
  font-size: var(--fs-base);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  line-height: 1.5em;
}

h1,
h2,
h3,
h4 {
  font-family: var(--mono-font);
  font-weight: var(--bold);
}

.h1,
.h2,
.h3 {
  color: var(--independence);
  font-family: var(--ff-mulish);
  line-height: 1.2;
}

.h1 { font-size: var(--fs-1); }

.h2 { font-size: var(--fs-2); }

.h3 { font-size: var(--fs-3); }

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

textarea,
input {
  background: none;
  border: none;
  outline: none;
}

/*=============== Reusable Css ===============*/
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 0.9rem;
  padding-right: 0.9rem;
}

.grid {
  display: grid;
}

.section {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}

.section_title {
  font-size: var(--fs-h2);
  line-height: 1.17em;
  font-weight: var(--medium);
  margin-bottom: 1.12em;
}

.text-lg {
  font-size: var(--fs-lg);
  line-height: 1.67em;
}

.text-sm {
  font-size: var(--fs-sm);
  line-height: 1.43em;
}

.text_xs {
  font-size: var(--fs-xs);
  line-height: 1.5em;
}

/*=============== End of Reusable Css ===============*/

/*=============== Header ===============*/

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  transition: 0.3s;
}

.nav {
  height: calc(var(--header-height) + 0.875rem);
  display: flex;
  align-items: flex-end;
}

.show_menu {
  transform: translateX(0);
}
.nav_list {
  display: flex;
  column-gap: 3.25rem;
}

.nav_close,
.nav_toggle {
  display: none;
}

.nav_link {
  color: #fff;
  font-size: 0.9rem;
  font-weight: var(--bold);
  font-family: var(--mono-font);
  text-transform: uppercase;
  position: relative;
  transition: 0.3s;
}

.nav_link:hover {
  opacity: 0.5;
}

.nav_link:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: -0.5rem;
  width: 7px;
  height: 2px;
  background-color: #fff;
  opacity: 0;
  transition: 0.3s;
}

.nav_link:hover::after {
  opacity: 1;
}

.active_link {
  opacity: 0.5;
}

.active_link::after {
  opacity: 1;
}
/*=============== End of Header ===============*/

/*=============== Hero section ===============*/
.hero {
  background-image: url("../assets/profile.jpg");
  background-size: cover;
  background-position: 50%;
  padding-top: 5.5rem;
  margin-bottom: 2.5rem;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 65%;
  background: var(--linear-gradient);
}

.hero_container {
  grid-template-columns: 4fr 8fr;
  column-gap: 1.875rem;
}

.hero_img,
.hero_data {
  z-index: 10;
}

.hero_img {
  width: 90%;
  height: 380px;
  object-fit: cover;
  border-radius: 0.3rem;
  transform: translateY(3.125rem);
  box-shadow: 0 0 27px rgb(96 96 96 / 34%);
}

.hero_name,
.hero_work,
.hero_list,
.hero_social_links {
  color: #fff;
  font-family: var(--mono-font);
}

.hero_name {
  font-size: var(--fs-h1);
  line-height: 1.14em;
  margin-bottom: 0.9em 0.23em;
}

.hero_work {
  margin-bottom: 2.5em;
}

.hero_list dt {
  float: left;
  font-weight: var(--bold);
  opacity: 0.4;
}

.hero_list dd {
  padding-left: 6.25em;
}

.hero_list dd:not(:last-child) {
  margin-bottom: 0.94em;
}

.hero_socials {
  margin: 1.25rem 0 2.2rem;
}

.hero_social_links {
  font-size: 1.7rem;
  line-height: 1.36em;
  margin-right: 0.25rem;
  opacity: 0.4;
  transition: 0.3s;
}

.hero_social_links:hover {
  opacity: 1;
}

/*=============== Hello Section ===============*/
.hello_details {
  margin-bottom: 1.67em;
  text-align: justify;
}

/*=============== End of Hello Section ===============*/

/*=============== Buttons ===============*/
.button {
  display: inline-block;
  background-color: var(--primary-color);
  color: #fff;
  padding: 1.1em 2.1em;
  border-radius: 1.56rem;
  font-weight: var(--semibold);
  transition: 0.3s;
}

.button:hover {
  background-color: var(--primary-color-alt);
}

.button_flex {
  display: inline-flex;
  align-items: flex-start;
  column-gap: 0.3rem;
}

/*=============== End of Buttons ===============*/

/*=============== Services  Section ===============*/
.services {
  background: var(--ghost-white-1);
}

/*
.services_container {
  padding-inline: 15px;
  max-width: 525px; 
}
 */

.section-title {
  margin-bottom: 15px;
  margin-left: 50px;
}

.services_list {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.services_item {
  position: relative;
  transition: var(--transition-2);
}

.services_item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 40%;
  background-color: var(--cultured-2);
  border-radius: var(--radius-10);
  z-index: -1;
}

.services_item:hover {
  transform: translateY(-10px);
}

.services_card {
  background-color: var(--white);
  box-shadow: var(--shadow-1);
  margin: 20px;
  padding: 20px;
  border-radius: var(--radius-10);
  text-align: center;
}

/*=============== End of Services Section ===============*/

/*=============== Skills ===============*/
.skills_container{
  grid-template-columns: repeat(2, 445px);
  column-gap: 7rem;
}

.skills_list {
  row-gap: 1.8rem;
}

.skills_titles {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.625rem;
  color: var(--text-color-alt);
  letter-spacing: 0.4em;
  margin: 1.1em;

}

.skills_bar,
.skills_percentage {
  height: 5px;
  border-radius: 0.25rem;
}

.skills_bar {
  background-color: var(--bg-color-alt);
}

.skills_percentage {
  display: block;
  background-color: var(--primary-color);
  box-shadow: 0 5px 8px 0 rgb(0 0 0 / 14%);
}


/*=============== End of Skills ===============*/

/*=============== Contacts ===============*/
.contact {
  background: url(../assets/bg.jpg);
  background-size: cover;
  background-position: 50%;
  position: relative;
}

.contact::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: var(--linear-gradient);
}

.contact_content {
  z-index: 10;
  position: relative;
}

.contact_container {
  grid-template-columns: 4fr 5fr 3fr;
  column-gap: 1.875rem;
  padding-top: 1.25rem;
}

.contact .section_title,
.contact_list,
.contact_socials a,
::placeholder,
.contact_input,
.contact_form_title,
.footer_copy {
  color: #fff;
  font-family: var(--mono-font);
}

.contact_list {
  margin-bottom: 3.25rem;
}

.contact_list dt {
  float: left;
  font-weight: var(--bold);
  text-transform: uppercase;
}

.contact_list dd {
  padding-left: 6.25em;
  margin-bottom: 0.94rem;
}

.contact_socials li {
  margin-bottom: 0.50rem;
  font-family: var(--roboto-font);
}

.contact_socials_link {
  font-family: var(--roboto-font);
}

.contact_form {
  position: relative;
}

.contact_form_title {
  margin-bottom: 1.25em;
}

.contact_input_div {
  margin-bottom: 0.94em;
}

.contact_input {
 width: 100%;
 border: 1px solid var(--border-color);
 border-radius: 3px;
 padding: 0.625rem;
}

.textarea {
  height: 7.2rem;
  resize: none;
}

.contact_input:focus {
  box-shadow: inset 0 0 5px 0 #fff;
}

.contact_message {
  position: absolute;
  bottom: 33%;
  left: 0;
  font-family: var(--mono-font);
  color: #fff;
}

.color_light {
  opacity: 0;
}

.color_dark {
  opacity: 0.4;
}
.contact_button {
  margin-top: 1.875rem;
  width: 100%;
  box-shadow: 0 1px 29px rgb(0 0 0 / 40%);
}

.footer_copy {
  opacity: 0.4;
}

/*=============== End of Contacts ===============*/
.style_switcher {
  position: fixed;
  right: 0;
  bottom: 20%;
  padding: 0.625rem;
  box-shadow: 5px 1px 10px rgba(0, 0, 0, 0.4);
  background-color: var(--bg-color);
  z-index: 101;
  transform: translateX(100%);
  transition: 0.3s;
}

.open {
  transform: translateX(0);
}

.style_switcher_toggler {
  position: absolute;
  height: 52px;
  width: 52px;
  background-color: #2d2d2d;
  right: 100%;
  top: 0;
  text-align: center;
  line-height: 50px;
  font-size: 1.75rem;
  color: #fff;
  cursor: pointer;
  border-radius: 2px;
}

.colors {
  display: flex;
  column-gap: 0.625rem;
}

.colors span {
  display: inline-block;
  height: 30px;
  width: 30px;
  border-radius: 2px;
}

.color_1 {
  background-color: #4a4a4a;
}

.color_2 {
  background-color: #6d56c1;
}

/*=============== Style Switcher ===============*/



/*=============== Scroll header ===============*/
.scroll_header {
  position: fixed;
  background-color: var(--bg-color);
  box-shadow: 0 5px 8px 0 rgb(0 0 0 / 14%);
  transition: all 0.3s ease;
}

.scroll_header .nav_link {
  color: var(--text-color);
}

.scroll_header nav {
  align-items: center;
}

.scroll_header .nav_link::after {
  background-color: var(--text-color);
}

.scroll_header .nav_link:hover,
.scroll_header .active_link {
  color: var(--primary-color);
}
/*=============== End of Scroll header ===============*/





/*=============== BreakPoints ===============*/
/* for large devices */
@media screen and (max-width: 1200px) {
  :root {
    
  --fs-h1: 2.25rem;
  --fs-h2: 1.75rem;
  --fs-lg: 1rem;
  --fs-base: 0.938rem;
  --fs-sm: 0.813rem;
  --fs-xs: 0.687rem;
  }
  .container {
    max-width: 960px;
  }

  .hero_container {
    grid-template-columns: 5fr 7fr;
  }

  

  .services_container,
  .skills_container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.875rem;
  }
}

@media screen and (max-width: 992px) {
  .container {
    max-width: 100%; /* Take full width */
    width: 100%; /* Ensure full width */
    padding-left: 0;
    padding-right: 0;
  }

  
.nav_menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-100%);
  transition: 0.3s;
}

.show_menu {
  transform: translateX(0);
}

.nav_List {
  flex-direction: column;
  row-gap: 2.125rem;
  text-align: center;
}
.nav_toggle,
.nav_close {
  display: block;
}

.nav_close {
  font-size: 1.5rem;
  position: absolute;
  top: 2.7rem;
  left: 8%;
  cursor: pointer;
  color: #fff;
}

.nav_toggle {
  color: #fff;
  font-size: 1.25rem;
  opacity: 0.5;
}

.scroll_header .nav_toggle {
  color: var(--text-color);
  opacity: 1;
}

.hero {
  max-width: 950px;
  padding-top: 5.25rem;
  background-position: fit
  ;

}

.hero_container {
  grid-template-columns: 1fr;
}
.hero_img {
  display: none;
}

.section {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.hero::before {
  height: 50%;
}

}

/* Mobile View (≤ 768px) */
@media screen and (max-width: 768px) {
  
}

/* for small devices */
@media screen and (max-width: 350px) {
}



